body{
    align-items: center;   
    text-align:center;

}

.slider{
    margin: 50px auto;
}

.image-box img{
    width: 600px;
    height: 400px;
}

.btn{
    border: none;
    outline: none;
    background: #888;
    padding: 10px 30px;
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
    margin: 10px auto;
}

.btn:hover{
    background:#111;
}



